*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #aaaaaa;
    text-align: center;
    padding: 20px;
}
#cav{
    background-color: gray;
}
#score{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}