*{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: NavajoWhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
#score{
    font-size: 2rem;
    color: black;
}
#cav{
    margin: 0rem 3rem 0rem 3rem;
    margin-top: 0;
}
.main{
    display: flex;
}
.direction{
    margin-top: 1rem;
    transform: rotate(45deg);
    
}
.direction>div{
    display: flex;
}
.direction>div>div{
    width: 80px;
    height: 80px;
    background-color: #ff9800;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px whitesmoke solid;
    cursor: pointer;
}
.direction>div>div:active{
    background-color: #f57c00;
}
.button-name{
    transform: rotate(-45deg);
}
#up{
    border-radius: 100% 0 0 0;
}
#right{
    border-radius: 0 100% 0 0;
}
#down{
    border-radius: 0 0 100% 0;
}
#left{
    border-radius: 0 0 0 100%;
}
.controller{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    height: 160px;
}
.controller>div{
    background-color: #ff9800;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 0.5px solid;
    cursor: pointer;
}
.controller>div:active{
    background-color: #f57c00;
}
.controller>div>p{
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
    width: 80%;
}

@media all and (max-width: 800px){
    .controller{
        margin:10px;
        font-size: 0.8rem;
    }
    .controller>div{
        width: 50px;
    }
    .direction{
        font-size: 0.8rem;
    }
}