*{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: NavajoWhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.title{
    margin-left: -6.5rem;
}
.main{
    width: 9rem;
}
@media all and (max-width:992px){
    .title{
        margin-left: 0;
    }
}